<a href="https://colab.research.google.com/github/Yadanar025/MMDT_T-PY101_Batch03/blob/main/Khin_Yadanar_Aung/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
print(len("My name is python"))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print(s.count("Python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls3 = ls1+ls2
print(ls3)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
dict1 = {'Myo':32,'Thida':64}
print(dict1.get('Thida'))
print(dict1.keys())
print(dict1.values())

64
dict_keys(['Myo', 'Thida'])
dict_values([32, 64])

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
print(set1.union(set2))

{'age', 'Name', 'Education', 'status', 'Height'}

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
st1 = input("Enter a string")
new_string = st1[0]+"*"+st1[2:]+"!!!"
print(new_string)

H*llo Everyone!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print(s.lower().replace(",","").replace(";","").replace(".","").replace("-","").replace("!"," "))

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print("Missing number in L2 is:", set(L1).difference(set(L2)))

Missing number in L2 is: {3}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy()
ls2.append("orange")
print("ls1:", ls1)
print("ls2:", ls2)

ls1: ['apple', 'banana', 'cherry']
ls2: ['apple', 'banana', 'cherry', 'orange']