<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [ ]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(10,5)

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [ ]:
import random
def calcualte_numbers ( n ): 
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [5]:
def number_of_factors(num):
    result = 1
    while num > 0:
        result = result*num
        num = num - 1
    return result

print(number_of_factors(5))

120

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [15]:
def first_diff(string1, string2):
    var = 0
    for i in range(len(string1)):
        if string1[i] != string2[i]:
            var = i
            break
        else:
            var = -1
    return var
print(first_diff("Hello", "Hello"))

-1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [17]:
def root(x,n=2):
    return x/n

print(root(16))
print(root(27,3))

8.0
9.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [18]:
def equation(a,b,c,d,e,f):
    x = (d*e-b*f)/(a*d-b*c)
    y = (a*f-c*e)/(a*d-b*c)
    return x,y

print(equation(2,3,4,5,6,7))

(-4.5, 5.0)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [23]:
def change_case(string):
    result = ""
    for i in string:
        if i.islower():
            result += i.upper()
        else:
            result += i.lower()
    return result

print(change_case("Hello Mom"))

hELLO mOM

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [40]:
def primes(num):

    result=[]
    for i in range(2,num):
        if i==2 or i==3 or i==5 or i==7 or i==11 or i==13 or i==17 or i==19:
            result.append(i)
        elif i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0 and i%11!=0:
            result.append(i)
            
    return result

print(primes(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [13]:
#0 empty cell
#1 x
#2 o
def tic_tac_toe(board):
    import random
    
    check=True
    for i in board:
        if 0 in i:
            check=False
    if check!=False:
        return "No empty cells"
    
    while True:
        i=random.randint(0,2)
        j=random.randint(0,2)
        if board[i][j]==0:
            board[i][j]=2
            break
    return f"{board[0]}\n{board[1]}\n{board[2]}"
print(tic_tac_toe([[1,1,2],[2,1,1],[1,2,2]]))
print(tic_tac_toe([[1,0,2],[0,1,1],[1,2,0]]))

No empty cells
[1, 2, 2]
[0, 1, 1]
[1, 2, 0]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are no repeated numbers in any row or any column or in any of the nine “blocks.”

In [ ]:
def sudoku(board):
    zero = 0
    if zero not in board:
        for i in range(9):
            check_col =[]
            check_row = board[i].copy() #for row check
            for row in range(9):        #for col check
                check_col.append(board[row][i])
            #print(check_row,check_col)

            
            for j in range(9):         #row check
                #print(check_row[j],check_row[j+1:])
                if check_row[j] in check_row[j+1:]:
                    return False

            for j in range(9):         #col check
                #print(check_col[j],check_col[j+1:])
                if check_col[j] in check_col[j+1:]:
                    return False
                
        for box_row in range(0,9,3):   #box check
                for box_col in range(0,9,3):
                    check_box = []
                    for box_r in range(3):
                        for box_c in range(3):
                            check_box.append(board[box_row+box_r][box_col+box_c])
    
                    for j in range(9):         #box check
                        #print(check_box[j],check_box[j+1:])
                        if check_box[j] in check_box[j+1:]:
                            return False
                
        return True
    else:
        return "Zero found in the board"

test1=[[5,3,4,6,7,8,9,1,2],
       [6,7,2,1,9,5,3,4,8],
       [1,9,8,3,4,2,5,6,7],
       [8,5,9,7,6,1,4,2,3],
       [4,2,6,8,5,3,7,9,1],
       [7,1,3,9,2,4,8,5,6],
       [9,6,1,5,3,7,2,8,4],
       [2,8,7,4,1,9,6,3,5],
       [3,4,5,2,8,6,1,7,9]]

sudoku(test1)

True

In [98]:
row_duplicate = [
    [5,3,5,6,7,8,9,1,2],  # duplicate 5
    [6,7,2,1,9,5,3,4,8],
    [1,9,8,3,4,2,5,6,7],
    [8,5,9,7,6,1,4,2,3],
    [4,2,6,8,5,3,7,9,1],
    [7,1,3,9,2,4,8,5,6],
    [9,6,1,5,3,7,2,8,4],
    [2,8,7,4,1,9,6,3,5],
    [3,4,5,2,8,6,1,7,9]
]
sudoku(row_duplicate)

False